body{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("pool-vacation-oneandonly-the-palm-best-hotels-wallpaper-preview.jpeg");
    
  
 

 fieldset{
    background-image:url("depositphotos_425368112-stock-photo-tranquil-beach-scene-sunny-exotic.jpg");
    
 }

h2{
  align-items:center;
  color:gray;
  justify-content: center;
}


.container {
    
    padding: 20px;
    border-radius: 8px;
    
}


label {
    margin-bottom: 8px;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 10px;
    background-color:#C0C0C0;
}


.form-group{
    padding: 7px;
    margin-bottom: 8px;
    width:50%;
    border-radius: 4px;
    width: 95%;
    display: inline-block;
    font-size:9px;
}



textarea {
  height: 45px;
  width: 100;
  box-sizing: border-box;
  background-color:#f8f8f8;
  resize:none;
  border: 2px solid #ccc;
  border-radius: 4px;
}

hr {
  border: 1px dotted #ccc;
}

 input[type=button] {
  height: 40px;
  background-color:blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration:none;
  margin: 4px 1px;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
 }
}