*{
    margin: 0;
    
}
body {
    background-color: rgba(10, 10, 235, 0.24);
    
}

.forgotfull{
    display: flex;
    background-color: rgba(153, 0, 255, 0.628);
    width: 1100px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    
}


.forgotimg{
    flex: 50%;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin-left: 20px;
}

.FFF{
    font-size: 67px;
    color: white;
}

.emailaddress{
    color: rgb(15, 15, 15);
}

.emailbox{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    
}

.submitbox{
    width: 255px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(13, 224, 13);
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
 
}

.submitbox:hover{
    background-color: rgb(218, 13, 250);
    animation:forwards 2ms;
    border: darkorange;
    transform:scale(1.03);
    transition:transform 0.5 seconds;
    cursor: pointer;
    border: rgb(7, 7, 245);

}

.forgotpassword{
    flex: 50%;
    margin: auto;
    margin-left: 90px;
}

.login{
    margin-left: 115px;
   
}
