*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

/* navigatin */
nav{
   
    background-color:#194651;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    
  }

 .nav_list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 4rem;
    font-size: 20px;
    align-items: center;
    font-family: "poppins";
    list-style: none;
  }

  nav .nav_list .login_regester{
    display: flex;
    flex-direction: row;
    gap :0.5rem;
    
  }
  nav .nav_list .nav_list_tem{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  nav .nav_list .nav_list_tem #list_property:hover{
    background-color: #c9e6d7;
    border-radius: 2px;
    padding: 0.5rem 1rem;
  }

  nav .nav_list .nav_list_tem #analys:hover{
    background-color: #c9e6d7;
    border-radius: 2px;
    padding: 0.5rem 1rem;
  }
  
  nav ul li a{
    
    text-decoration: none;
    color: #fff;
  }
.Login{
    border: none;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #fefefe;
    color: #65E4A3;
  }

  .Login:hover{
    background-color: #c9e6d7;
    color: #194651;
  }

  .regester{
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fefefe;
    color: #65E4A3;
  }
  
  .regester:hover{
    background-color: #c9e6d7;
    color: #194651;
   
  }

.first-flex-use{
    display: flex;
    flex-direction: row;
    background-color:#77BFFE;
    justify-content: center;
   align-items: center;
   padding: 1rem 2rem;
   
   
}

.logo{
    
    margin-right: 100rem;
    text-align:left;
    font-size: 35px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    text-align: center;
    text-decoration: underline;
    margin-right: 20rem;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: #cdc4c4;
    border-radius:;
    position: absolute;
    left: 0;
    right: 850px;
    margin: auto; 
    margin-left: 33rem;
}

.container{
    display: flex;

    align-items: center;
    margin-left: 45rem;
}

label{
    margin-right: 1rem;
   
}

.container1{
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 45rem;
}

label{
    margin-right: 1rem;
   
}


.container3{
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 45rem;
}

label{
    margin-right: 1rem;
   
}
.container4{
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 45rem;
}

label{
    margin-right: 1rem;
   
}

#button-login{
    height: 5%;
    width: 6%;
    border-radius: 5%;
    background-color: #3498db;
    margin-left: 10%;
}