* {
    margin: 0;
    padding: 0;
}

.udamaphotoeka {
    background-image: url("../assets/hotelprofileBack.jpeg");
    width: auto;
    height: 650px;

}

/* <!-- hotel eke nama udin thiyana wachene --> */
.hdipcriptioneka {
    position: relative;
    text-align: center;
    bottom: 700px;
    color: white;
    font-size: 18px;
}

/* <!-- hotel eke nama udin thiyana wachene --> */

/* <!-- hotel eke nama thiyana wachene --> */
.hoteleka {
    font-size: 60px;
    text-align: center;
    position: relative;
    bottom: 696px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* <!-- hotel eke nama thiyana wachene --> */


/* <!-- hotel eke namata yatin thiyana wachene --> */
.hotelyatadipcriptioneka {
    text-align: center;
    position: relative;
    bottom: 690px;
    color: white;
}

/* <!-- hotel eke namata yatin thiyana wachene --> */


/* <!-- kalu kotuwa athule thiyana tika --> */
.bookyourroomeka {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    bottom: 450px;
    left: 160px;
    color: white;
}

.arivaldatee {
    position: relative;
    bottom: 500px;
    left: 350px;
}

.DepartureDate {
    position: relative;
    bottom: 520px;
    left: 490px;
}

.Adulteka {
    position: relative;
    bottom: 540px;
    left: 630px;
    color: white;
}

.NumberofRoomseka {
    position: relative;
    bottom: 559px;
    left: 780px;
    color: white;
}

.booknoweka {
    position: relative;
    bottom: 579px;
    left: 970px;

}

/* <!-- kalu kotuwa athule thiyana tika --> */




.rectangle7 {
    width: 1080px;
    height: 220px;
    background-color: rgb(5, 5, 5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.139);
    border-radius: 20px;
    position: relative;
    bottom: 220px;
    left: 100px;

}



/* <!-- udama photo eke uda kotuwa --> */




/* <!-- udama photo eke uda kotuwa --> */

.search {
    width: 10px;
    height: 10px;
}

.textbar {
    width: 200px;

}

.oderlist {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;


}

.odersubmit {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    padding: 15px 30px;
    /* Adjust the padding to increase or decrease the button size */
    font-size: 18px;
    background-color: #faee08;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
}

.Accomodation {
    font-size: 400%;
    text-align: center;
    margin-top: 50px;
    position: relative;
    bottom: 500px;

}

.longtext {
    text-align: center;
    position: relative;
    bottom: 490px;

}


.allcatagory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.allcatagory img {

    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 80px;
    position: relative;
    bottom: 490px;
}

.allcatagory img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;

}

.catagorytext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
    margin-top: 20px;
    position: relative;
    bottom: 480px;
    font-size: 16px;
}

.catagoryprice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15rem;
    margin-top: 10px;
    position: relative;
    bottom: 480px;
}

.Facilitiestab {
    background-image: url(oakImage-1611766026211-articleLarge.webp);
    margin-top: 50px;
    width: auto;
    position: relative;
    bottom: 480px;



}


.Facilities {
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    position: relative;
    top: 29px;
    color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    /* background-color: rgba(255, 255, 255, 0.8);
    /* padding: 100px; */



}

.Facilitiestext {
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 30px;
}

.rectangle1 {
    width: 350px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.304);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.139);
    border-radius: 20px;

}

.rectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 80px;


}

.res {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 80px;
}

.res2 {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

.rectanglenext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;

}

/* <!-- vition eke kotasa --> */

.Vision {
    font-size: 50px;
    margin-top: 80px;
    margin-left: 90px;
    position: relative;
    bottom: 10px;
}


.allvition {
    display: flex;
    gap: 200px;
    position: relative;
    bottom: 450px;
}




/* <!-- vition eke kotasa --> */


/* <!-- vition eke description eke tika --> */

.vitiondescription {
    margin-left: 90px;
    position: relative;
    bottom: 610px;
    font-size: 19px;
    /* margin-top: 30px; */

}

/* <!-- vition eke description eke tika --> */

/* <!-- vition eke photo eka  --> */

.vitionsidephoto {
    width: 600px;
    margin-top: 50px;




}